.container{
  margin:0;
  background-color:#e2dbc6;
  text-align:center;
  width:100%;
}


.btn{
  position:relative;
}
.btn>button{
  position:fixed;
  top:15px;
  left:0;
  z-index:3;
}
button > span{
  background-color:black;
  width:30px;
  height:5px;
  display:block;
  margin-bottom:5px;
}
.btn2{
  position:relative;
}

.btn2>a{
  position:fixed;
  top:0;
  right:0;
  z-index:1;
}

.main{
  
  margin-top:100px;

}

.box{
  height:500px;
  display:inline-block;
  margin-bottom:50px;
  position:relative;
}

.box>img{
  border:5px solid white;
}


.title{
  position:absolute;
  left:20px;
  right:20px;
  bottom:5px;
  color:red;
  background-color:yellow;
 
  font-size:30px;
  opacity:0.8;
}

.clear{
  clear:both;
}


.container2{
  background-color:#f0ece8;
  height:100vh;
  width:60%;
  position:fixed;
  top:0;
  z-index:2;
  left:-60%;
}
header{
  height:7%;
}

.myface{
  height:23%;
  width:20%;
  float:left;
}
.myinfo{
  width:80%;
  height:20%;
  float:left;
}
.myname{
  width:100%;
  height:50%;
  text-align:center;
  line-height:11.5vh;
  font-size:40px;
}
.myff{
  
  width:85%;
  height:50%;
  float:right;
}
.follow{
  float:left;
  width:50%;
  height:100%;
  text-align:center;
  font-size:25px;
}
.follow >a:hover{
  color:pink;
}
.followed{
  float:left;
  width:50%;
  height:100%;
  text-align:center;
  font-size:25px;
}

.post{
  height:14%;
  text-align:center; 
  font-size:60px;
}

.search{
  height:14%;
  text-align:center; 
  font-size:60px;
}
.rank{
  height:14%;
  text-align:center; 
  font-size:60px;
}
.delete{
  height:14%;
  text-align:center; 
  font-size:60px;
}

.mylist{
  height:14%;
  text-align:center; 
  font-size:60px;
}



.info-btn{
  display:block;
  text-decoration:none; 
  line-height:14vh;
  background-color:#f0ece8;
  border-top:5px solid #89c3eb;
  color:#89c3eb;
  text-shadow:3px 3px white;
}
.info-btn:hover{
  background-color:white;
}
.info-btn:active{
  color:red;
}

footer{
  height:50px;
  background-color:#c1c0b9;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  z-index:0;
}


.active{
  transform:translateX(100%);
  transition:0.5s;
}
.nonactive{
  transform:translateX(0);
  transition:0.5s;
}

/*スマホ用*/
@media screen and (max-width:540px){
  /*メイン画面2のスライド*/
  .container2{
    background-color:#f0ece8;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:-100%;
  }

  .active{
    transform:translateX(100%);
    transition:0.5s;
  }
  .nonactive{
    transform:translateX(0);
    transition:0.5s;
  }
  /*メイン画面2のスライドここまで*/

  /* メイン画面デザイン */
  header{
    height:0;
  }
  .myface{
    width:150px;
    float:none;
    margin:0 auto;
   
    height:20%;
  }
  .myinfo{
    float:none;
    
    width:100%;
  }
  .myname{
    font-size:30px;
  }
  .myff{
    float:none;
    width:100%;
  }
  .follow{
    font-size:20px;
  }
  .followed{
    font-size:20px;
  }
  .post,.search,.rank,.delete,.mylove,.mypost,.mylist{
    height:12%;
    font-size:40px;
  }

  .info-btn{
    line-height:12vh;
  }
  /* メイン画面デザインここまで */
}
/*スマホ用ここまで*/

